<h1>Listing Navigation Boxes</h1>

<div id="nav-boxes">
	<% if @nav_boxes.count.zero? %>
		<p>No navigation-boxes are present. You may create one by clicking the link.</p>
	<% else %>
		<%= render :partial => "nav_box", :collection => @nav_boxes %>
	<% end %>
</div>

<div id='clearfix'></div>
<br />

<%= link_to 'New Nav box', new_nav_box_path %> <br>
<%= link_to 'Back to Home', "../" %>
