.dyw_navigation_body {

  font-size: 12px;
  font-family: sans-serif;  

h1 { margin: 15px 0; font-size: 22px; font-weight: normal; }
h2 { font-size: 22px; margin: 15px 0; font-weight: normal;}
h3 { font-size: 18px; margin: 10px 0; font-weight: normal;}
h4 { font-size: 16px; margin: 10px 0; font-weight: normal;}

.nav_box {
	width: 350px;
	height: 250px;
	border-style: solid;
	border-color: #CCCCCC;
	border-width: 1px;
	margin: 5px;
	padding: 5px;
	float: left;
}

#clearfix{
	clear: both;
}

.descriptions {
	overflow: hidden;
}

/* flash-messages */
.flash .message {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-align:center;
  margin: 0 auto 15px;
}

.flash .message p {
  margin:8px;
}
.flash .error {
  border: 1px solid #fbb;
  background-color: #fdd;
}
.flash .warning {
  border: 1px solid #fffaaa;
  background-color: #ffffcc;
}
.flash .notice {
  border: 1px solid #1FDF00;
  background-color: #BBFFB6;
}

.flash .alert {
  border: 1px solid #fbb;
  background-color: #fdd;
}

}
